## 1er Paso: *Definición del problema*:

**Predecir el ingreso total de ventas**

## 2do Paso: Recolectar Datos:

In [1]:
import pandas as pd

# Cargar el dataset:
file_path = './datasets/BD_Ventas_Tech.xlsx'
df = pd.read_excel(file_path)
display(df)

,Fecha De Venta,Nombre Cliente,Ubicación,Producto,Marca,Categoría,Precio Unidad,Costo Unidad,Cantidad Vendida,Unnamed: 9
0,2020-06-01,G. - Martin,"Chile, América del Sur",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,NaN
1,2020-06-01,R. - Victor,"Alemania, Europa",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,NaN
2,2020-06-01,G. - Whitney,"Estados Unidos, América del Norte",Simulador de Combate 3 E119,Kid Toys,Juegos,28.00,14.28,1.0,
3,2020-06-01,A. - Wayne,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,NaN
4,2020-06-01,R. - Devin,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,
...,...,...,...,...,...,...,...,...,...,...
22392,2022-08-31,L. - Alisha,"Estados Unidos, América del Norte",Headphone Azultooth M150 Azul,Ninja,Auriculares Bluetooth,149.99,49.69,2.0,NaN
22393,2022-08-31,P. - Misty,"Brasil, América del Sur",Headphone Azultooth M150 Azul,Ninja,Auriculares Bluetooth,149.99,49.69,1.0,NaN
22394,2022-08-31,H. - Jennifer,"Reino Unido, Europa",Wireless Azultooth Stereo Headphones M402 Verde,Ninja,Auriculares Bluetooth,99.99,45.98,1.0,NaN
22395,2022-08-31,R. - Morgan,"Estados Unidos, América del Norte",Wireless Azultooth Stereo Headphones M402 Verde,Ninja,Auriculares Bluetooth,99.99,45.98,3.0,NaN
22396,2022-08-31,R. - Fernando,"Estados Unidos, América del Norte",Wireless Azultooth Stereo Headphones M402 Verm...,Ninja,Auriculares Bluetooth,99.99,45.98,3.0,NaN

## Análisis exploratorio:

## Tarea:

* Realizar el análisis exploratorio: head, info, describe
* Aplicar contar nulos por columna: df.isnull().sum()

In [2]:
# Análisi exploratorio: head, info, describe

print("Primeras filas del dataframe")
display(df.head())

print("\nInformación concisa del dataframe\n")
df.info()

print(f"Nulos por columna\n{df.isnull().sum()}")

print("\nEstadisticas para las columnas numericas")
display(df.describe())

Primeras filas del dataframe

,Fecha De Venta,Nombre Cliente,Ubicación,Producto,Marca,Categoría,Precio Unidad,Costo Unidad,Cantidad Vendida,Unnamed: 9
0,2020-06-01,G. - Martin,"Chile, América del Sur",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,NaN
1,2020-06-01,R. - Victor,"Alemania, Europa",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,NaN
2,2020-06-01,G. - Whitney,"Estados Unidos, América del Norte",Simulador de Combate 3 E119,Kid Toys,Juegos,28.00,14.28,1.0,
3,2020-06-01,A. - Wayne,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,NaN
4,2020-06-01,R. - Devin,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,

Información concisa del dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22397 entries, 0 to 22396
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha De Venta    22393 non-null  datetime64[ns]
 1   Nombre Cliente    22393 non-null  object
 2   Ubicación         22393 non-null  object
 3   Producto          22393 non-null  object
 4   Marca             22393 non-null  object
 5   Categoría         22393 non-null  object
 6   Precio Unidad     22393 non-null  float64
 7   Costo Unidad      22393 non-null  float64
 8   Cantidad Vendida  22393 non-null  float64
 9   Unnamed: 9        2 non-null      object
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 1.7+ MB
Nulos por columna
Fecha De Venta          4
Nombre Cliente          4
Ubicación               4
Producto                4
Marca                   4
Categoría               4
Precio Unidad           4
Costo Unidad            4
Cantidad Vendida        4
Unnamed: 9          22395
dtype: int64

Estadisticas para las columnas numericas

,Fecha De Venta,Precio Unidad,Costo Unidad,Cantidad Vendida
count,22393,22393.000000,22393.000000,22393.000000
mean,2021-07-12 21:19:10.270173696,159.222056,66.285008,1.982137
min,2020-06-01 00:00:00,4.980000,2.540000,1.000000
25%,2020-12-03 00:00:00,8.990000,4.130000,1.000000
50%,2021-06-25 00:00:00,70.130000,32.250000,1.000000
75%,2022-03-02 00:00:00,181.000000,82.320000,3.000000
max,2022-08-31 00:00:00,1650.000000,546.680000,5.000000
std,NaN,224.434256,85.966001,1.399530

In [3]:
try:
    # Crear el dataframe: 
    df = pd.read_excel(file_path)

    # 1. Realizar el proceso de limpieza del dataframe:
    if 'Unnamed: 9' in df.columns:
        df = df.drop(columns = ['Unnamed: 9'])
        print("Se ha eliminado la columna Unnamed: 9")

    # 2. Eliminar Filas con valores nulos: 
    initial_rows = df.shape[0]
    df = df.dropna()
    row_dropped = initial_rows - df.shape[0]
    print(f"Hemos eliminado {row_dropped} filas, con valores null")

    # 3. Castear adecuadamente el tipo de dato:
    df['Fecha De Venta'] = pd.to_datetime(df['Fecha De Venta'])
    print("Columna Fecha de Venta transforma a formato de fecha datetime")

    # 4. Exxtraer las caracteristicas de la fecha:
    df['Año de Venta'] = df['Fecha De Venta'].dt.year
    df['Mes de Venta'] = df['Fecha De Venta'].dt.month
    df['Dia de semana de venta'] = df['Fecha De Venta'].dt.dayofweek
    print(f"Carcteristicas de fecha (Año, Mes, Dia de la semana) extraídas")

    # Impresiones:
    print("\nDataframe despues de limpieza, primeras cinco filas: ")
    print(df.head().to_markdown(index=False, numalign ='left', stralign='left'))
    print('Información del dataframe después de la limpieza')
    print(df.info())
    print('\nValores nulos por columna después de la limpieza')
    print(df.isnull().sum().to_markdown(index=False, stralign='left'))

    # Guardamos el dataset resultante:
    df.to_pickle('./datasets/BD_Ventas_Tech_cleaned.pkl')
    print('Dataframe guardado en dataset "BD_Ventas_Tech_cleaned.pkl"')
    
except Exception as e:
    print(f"Error durante la limpieza y preparación {e}")

Se ha eliminado la columna Unnamed: 9
Hemos eliminado 4 filas, con valores null
Columna Fecha de Venta transforma a formato de fecha datetime
Carcteristicas de fecha (Año, Mes, Dia de la semana) extraídas

Dataframe despues de limpieza, primeras cinco filas:
| Fecha De Venta      | Nombre Cliente   | Ubicación                         | Producto                    | Marca    | Categoría   | Precio Unidad   | Costo Unidad   | Cantidad Vendida   | Año de Venta   | Mes de Venta   | Dia de semana de venta   |
|:--------------------|:-----------------|:----------------------------------|:----------------------------|:---------|:------------|:----------------|:---------------|:-------------------|:---------------|:---------------|:-------------------------|
| 2020-06-01 00:00:00 | G. -  Martin     | Chile, América del Sur            | 360 Ventilador Pro          | Sonos    | Ventilador  | 215.62          | 71.44          | 1                  | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | R. -  Victor     | Alemania, Europa                  | 360 Ventilador Pro          | Sonos    | Ventilador  | 215.62          | 71.44          | 1                  | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | G. -  Whitney    | Estados Unidos, América del Norte | Simulador de Combate 3 E119 | Kid Toys | Juegos      | 28              | 14.28          | 1                  | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | A. -  Wayne      | Estados Unidos, América del Norte | Age of Mythology 2009 E158  | Kid Toys | Juegos      | 32              | 16.31          | 1                  | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | R. -  Devin      | Estados Unidos, América del Norte | Age of Mythology 2009 E158  | Kid Toys | Juegos      | 32              | 16.31          | 1                  | 2020           | 6              | 0                        |
Información del dataframe después de la limpieza
<class 'pandas.core.frame.DataFrame'>
Index: 22393 entries, 0 to 22396
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha De Venta          22393 non-null  datetime64[ns]
 1   Nombre Cliente          22393 non-null  object
 2   Ubicación               22393 non-null  object
 3   Producto                22393 non-null  object
 4   Marca                   22393 non-null  object
 5   Categoría               22393 non-null  object
 6   Precio Unidad           22393 non-null  float64
 7   Costo Unidad            22393 non-null  float64
 8   Cantidad Vendida        22393 non-null  float64
 9   Año de Venta            22393 non-null  int32
 10  Mes de Venta            22393 non-null  int32
 11  Dia de semana de venta  22393 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(3), object(5)
memory usage: 2.0+ MB
None

Valores nulos por columna después de la limpieza
|   0 |
|----:|
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
Dataframe guardado en dataset "BD_Ventas_Tech_cleaned.pkl"

## Paso 3: Ingeniería de Modelo:

In [4]:
from sklearn.preprocessing import OneHotEncoder     # Asignar valores numéricos  
from sklearn.compose import ColumnTransformer
import joblib
import scipy.sparse

# Librerias para el entrenamiento de Machine Learning
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestRegressor 
from sklearn.metrics import mean_squared_error, r2_score

In [5]:
file_path = './datasets/BD_Ventas_Tech_cleaned.pkl'
try:
    df = pd.read_pickle(file_path)
    print(f'Cargado el dataframe desde {file_path}, exitosamente')

    # 1. Empezamos con la ingeniería de caracteristicas:
    df['Margen Ganancia'] = df['Precio Unidad'] - df['Costo Unidad']
    print(f"Caracteristica \'Margen de Ganancia\' creada")

    # 2. Ingeniería de caracteristicas: ingreso total de venta
    df['Ingreso Total Venta'] = df['Precio Unidad'] * df['Cantidad Vendida'] 
    print(f"Caracteristica \'Ingreso Total Venta\' creada")

    # 3. Ingeniería de caracteristicas: Ganancia total de venta
    df['Ganancia Total Venta'] = df['Margen Ganancia'] * df['Cantidad Vendida'] 
    print(f"Caracteristica \'Ganancia Total Venta\' creada")


    # 4. Selección de la variable objetivo:
    target_variable = 'Ingreso Total Venta'

    # Excluimos las columnas que no se usan y las usamos para calcular el target_variable, e incluso esta misma para evitar el data leak
    # Caracteristicas a descartar: 
    features_to_exclude = ['Fecha de Venta', 'Nombre Cliente', target_variable, 'Precio Unidad', 'Cantidad Vendida']
    
    features = [col for col in df.columns if col not in features_to_exclude]
    print(f'Caracteristicas para ingeniería: {features}')

    # Identificar caracteristicas categoricas y númericas:
    categorical_features = df[features].select_dtypes(include = ['object']).columns
    numerical_features = df[features].select_dtypes(include = ['int64', 'float64', 'int32']).columns

    # Imprimamos el resultado:
    print(f"Variable Objetivo: {target_variable}")
    print(f"Caracteristicas Categoricas: {list(categorical_features)}")
    print(f"Caracteristicas Numéricas: {list(numerical_features)}")

    # 5. Codificar variables categoricas (One-Hot-Encoding) y pasar numéricas:
    preprocessor = ColumnTransformer(
        transformers = [
            ("num", "passthrough", numerical_features),
            ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_features)
        ]
    )

    # Aplicar Transformaciones: 
    x = df[features]
    y = df[target_variable]
     
    x_processed = preprocessor.fit_transform(x)
 
    # Convertir un arreglo denso si es una matriz dispersa:
    if scipy.sparse.issparse(x_processed):
        x_processed = x_processed.toarray()
    
    # Obetenemos los nombres de las nuevas columnas despues del preprocesamiento
    all_features_names =  preprocessor.get_feature_names_out()

    x_processed_dataframe = pd.DataFrame(x_processed, columns = all_features_names, index = df.index)

    print(f"Dataframe despues de la ingeniería de caracteristicas y codificación:")
    display(x_processed_dataframe.head())
    print(f"Dimensiones del dataset despues de la ingeniería de caracteristicas y codificación:")
    print(x_processed_dataframe.shape)

    # Guardar el modelo generado:
    joblib.dump(preprocessor, "./Model/pre_rf_model.pkl")
    x_processed_dataframe.to_pickle('./datasets/x_processed_dataframe_df.pkl')
    y.to_pickle('./datasets/y_target.pkl')

except Exception as e:
    print(f"Error presentado al guardar el modelo {e}")

Cargado el dataframe desde ./datasets/BD_Ventas_Tech_cleaned.pkl, exitosamente
Caracteristica 'Margen de Ganancia' creada
Caracteristica 'Ingreso Total Venta' creada
Caracteristica 'Ganancia Total Venta' creada
Caracteristicas para ingeniería: ['Fecha De Venta', 'Ubicación', 'Producto', 'Marca', 'Categoría', 'Costo Unidad', 'Año de Venta', 'Mes de Venta', 'Dia de semana de venta', 'Margen Ganancia', 'Ganancia Total Venta']
Variable Objetivo: Ingreso Total Venta
Caracteristicas Categoricas: ['Ubicación', 'Producto', 'Marca', 'Categoría']
Caracteristicas Numéricas: ['Costo Unidad', 'Año de Venta', 'Mes de Venta', 'Dia de semana de venta', 'Margen Ganancia', 'Ganancia Total Venta']
Dataframe despues de la ingeniería de caracteristicas y codificación:

,num__Costo Unidad,num__Año de Venta,num__Mes de Venta,num__Dia de semana de venta,num__Margen Ganancia,num__Ganancia Total Venta,"cat__Ubicación_Alemania, Europa","cat__Ubicación_Armenia, Asia","cat__Ubicación_Australia, Oceanía","cat__Ubicación_Brasil, América del Sur",...,cat__Categoría_Juegos,cat__Categoría_Juegos de mesa,cat__Categoría_MP4 y MP3,cat__Categoría_Monitores,cat__Categoría_Ordenadores portátiles,cat__Categoría_Sistema de sonido,cat__Categoría_Teléfonos residenciales y de oficina,cat__Categoría_VCD y DVD,cat__Categoría_Ventilador,cat__Categoría_Vídeo coche
0,71.44,2020.0,6.0,0.0,144.18,144.18,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,71.44,2020.0,6.0,0.0,144.18,144.18,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,14.28,2020.0,6.0,0.0,13.72,13.72,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,16.31,2020.0,6.0,0.0,15.69,15.69,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,16.31,2020.0,6.0,0.0,15.69,15.69,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Dimensiones del dataset despues de la ingeniería de caracteristicas y codificación:
(22393, 514)

## Paso 4: Entrenamiento y evaluación del modelo:

In [6]:
# Cargar los dataframes procesados 
x_processed_dataframe = pd.read_pickle('./datasets/x_processed_dataframe_df.pkl')
y_target = pd.read_pickle('./datasets/y_target.pkl')

# División para entrenamiento y evaluación
x_train, x_test, y_train, y_test = train_test_split(x_processed_dataframe, y_target, test_size=0.2, random_state=42)
print(f"Dimensiones del conjunto de pruebas: x_test = {x_test.shape}, y_test = {y_test.shape}")
print(f"Dimensiones del conjunto de entrenamiento: x_train = {x_train.shape}, y_train = {y_train.shape}")

Dimensiones del conjunto de pruebas: x_test = (4479, 514), y_test = (4479,)
Dimensiones del conjunto de entrenamiento: x_train = (17914, 514), y_train = (17914,)

## Iniciamos el entrenamiento

In [7]:
print(f"Iniciando el entrenamiento")
model = RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
model.fit(x_train, y_train)
print(f"Entrenamiento concluido con éxito")

Iniciando el entrenamiento
Entrenamiento concluido con éxito

## Evaluando el modelo

In [8]:
# Predicciones:
y_pred = model.predict(x_test)

# Evaluación de lo predicho:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

## Imprimir los resultados:

In [9]:
print(f'\nResultados de la evaluación del modelo')
print(f'Error cuadratico medio (MSE): {mse:.2f}')
print(f'Coeficiente de determinación (R2): {r2:.2f}')

Resultados de la evaluación del modelo
Error cuadratico medio (MSE): 122.22
Coeficiente de determinación (R2): 1.00

## Guardamos el modelo

In [10]:
joblib.dump(model,'./Model/model_train_rf.pkl')
print('Hemos guardado el Modelo Entrenado')

Hemos guardado el Modelo Entrenado

# Optimización del modelo

In [11]:
# Cargar los dataframes procesados 
x_processed_dataframe = pd.read_pickle('./datasets/x_processed_dataframe_df.pkl')
y_target = pd.read_pickle('./datasets/y_target.pkl')

# División para entrenamiento y evaluación
x_train, x_test, y_train, y_test = train_test_split(x_processed_dataframe, y_target, test_size=0.2, random_state=42)

print(f"Dimensiones del conjunto de pruebas: x_test = {x_test.shape}, y_test = {y_test.shape}")
print(f"Dimensiones del conjunto de entrenamiento: x_train = {x_train.shape}, y_train = {y_train.shape}")

Dimensiones del conjunto de pruebas: x_test = (4479, 514), y_test = (4479,)
Dimensiones del conjunto de entrenamiento: x_train = (17914, 514), y_train = (17914,)

In [12]:
model = RandomForestRegressor(random_state=42, n_jobs=-1)

param_grid = {
    "n_estimators" : [50, 100, 150], # Arboles
    "max_depth" : [10, 20, None] # Profundidad del bosque
}

In [13]:
print("Iniciando busqueda de hiperparamentros con GridSearchCV")
grid_search = GridSearchCV(estimator = model, param_grid = param_grid, cv = 3, n_jobs=-1, verbose = 2, scoring = "neg_mean_squared_error")

grid_search .fit(x_train, y_train)

print("Busqueda de hiperparametros completada")

Iniciando busqueda de hiperparamentros con GridSearchCV
Fitting 3 folds for each of 9 candidates, totalling 27 fits
Busqueda de hiperparametros completada

In [14]:
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

print(f"\nMejores Hiperparametros encontrados: {best_params}")

Mejores Hiperparametros encontrados: {'max_depth': 20, 'n_estimators': 50}

# ...... Evaluación y creación de mejor modelo .....

In [15]:
y_pred_optimized = best_model.predict(x_test)

mse_optimized = mean_squared_error(y_test, y_pred_optimized)
r2_optimized = r2_score(y_test, y_pred_optimized)

print(f'\nResultados de la evaluación del modelo')
print(f'Error cuadratico medio (MSE): {mse_optimized:.2f}')
print(f'Coeficiente de determinación (R2): {r2_optimized:.2f}')

Resultados de la evaluación del modelo
Error cuadratico medio (MSE): 156.67
Coeficiente de determinación (R2): 1.00

# -- Guardamos el modelo --

In [16]:
joblib.dump(best_model, './Model/best_model_rf.pkl')
print("Hemos guardado el modelo optimizado")

Hemos guardado el modelo optimizado

# ---------- Realizar Predicciones -----------

In [17]:
# Importar 1. Modelo de preprocesamiento:
PREPROCESSOR_PATH = './Model/pre_rf_model.pkl'
MODEL_PATH = './Model/best_model_rf.pkl'
ORIGINAL_DF_PATH = './datasets/BD_Ventas_Tech_cleaned.pkl'

# Cargarlos:
try:
    PREPROCESSOR = joblib.load(PREPROCESSOR_PATH)
    print('Ha sido un éxito la carga del preprocesador')

    MODEL = joblib.load(MODEL_PATH)
    
    ORIGINAL_DF = pd.read_pickle(ORIGINAL_DF_PATH)    
    
except Exception as e:
    print('No se pudo cargar desde la ruta indicada', e)

target_variable = "Ingreso Total Venta"
# Caracteristicas a descartar: 
features_to_exclude = ['Fecha de Venta', 'Nombre Cliente', target_variable, 'Precio Unidad', 'Cantidad Vendida']
FEATURES_FOR_PREPROCESSOR = [col for col in df.columns if col not in features_to_exclude]

# ADICIONAMOS LAS COLUMNAS QUE HARÁN FALTA:
#FEATURES_FOR_PREPROCESSOR.extend(['Margen Ganancia', 'Ganancia Total Venta'])
print(f'Caracteristicas para ingeniería: {FEATURES_FOR_PREPROCESSOR}')

Ha sido un éxito la carga del preprocesador
Caracteristicas para ingeniería: ['Fecha De Venta', 'Ubicación', 'Producto', 'Marca', 'Categoría', 'Costo Unidad', 'Año de Venta', 'Mes de Venta', 'Dia de semana de venta', 'Margen Ganancia', 'Ganancia Total Venta']

In [18]:
def prediccion_total_ingreso(input_data : dict):
    df_input = pd.DataFrame([input_data])

    try:
        df_input['Fecha de Venta'] = pd.to_datetime(df_input['Fecha De Venta'])
        df_input['Año de Venta'] = df_input['Fecha de Venta'].dt.year
        df_input['Mes de Venta'] = df_input['Fecha de Venta'].dt.month
        df_input['Dia de semana de venta'] = df_input['Fecha de Venta'].dt.dayofweek
        df_input['Margen Ganancia'] = df['Precio Unidad'] * df_input['Costo Unidad']
        df_input['Ganancia Total Venta'] = df_input['Margen Ganancia'] * df_input['Cantidad Vendida']

        df_input_processed = df_input[FEATURES_FOR_PREPROCESSOR]

        x_input_processed = PREPROCESSOR.transform(df_input_processed)

        prediccion = MODEL.predict(x_input_processed)[0]
        return prediccion
    except Exception as e:
        print(f'Error al crear el dataframe de ingreso {e}')

In [19]:
data_test = {
    "Fecha De Venta" : "2023-01-08",
    "Ubicación" : "España, Europa",
    "Producto" : "Smartphone X",
    "Marca" : "Samsung",
    "Categoría" : "Electrónica",
    "Precio Unidad" : 70.0,
    "Costo Unidad" : 35.0,
    "Cantidad Vendida" : 2.0
}

In [20]:
predicho = prediccion_total_ingreso(data_test)
print(f'El ingreso total de venta esperado es: {predicho}')

El ingreso total de venta esperado es: 7529.4

C:\Users\Soportedrai\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(